.header_container{
    background-color : #2874f0;
    justify-content: space-between;
    height: 5rem;
}
.headedrName_conatianer{
    margin: 0;
    color: white;
    padding-top: 1rem;
    margin-left: 5rem
}

.headerInput{
height: 2rem;
width: 14rem;
}